<ion-tabs class="ion-no-border">

  <ion-tab-bar class="ion-no-border" slot="bottom">
    <ion-tab-button tab="tab1">
      <i class="fa fa-user-secret" style="font-size: 20px;" aria-hidden="true"></i>
      <ion-label>Mensaje Anonimo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="fa fa-comment" style="font-size: 20px;" aria-hidden="true"></i>
      <ion-label>Chat en Vivo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
