:root {
	--ion-color-primary: #830FA3;
	--ion-color-primary-rgb: 131,15,163;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #730d8f;
	--ion-color-primary-tint: #8f27ac;

	--ion-color-secondary: #544E50;
	--ion-color-secondary-rgb: 84,78,80;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4a4546;
	--ion-color-secondary-tint: #656062;

	--ion-color-tertiary: #975ea6;
	--ion-color-tertiary-rgb: 151,94,166;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #855392;
	--ion-color-tertiary-tint: #a16eaf;

	--ion-color-success: #0FA35E;
	--ion-color-success-rgb: 15,163,94;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #0d8f53;
	--ion-color-success-tint: #27ac6e;

	--ion-color-warning: #B6AC11;
	--ion-color-warning-rgb: 182,172,17;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #a0970f;
	--ion-color-warning-tint: #bdb429;

	--ion-color-danger: #B61148;
	--ion-color-danger-rgb: 182,17,72;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #a00f3f;
	--ion-color-danger-tint: #bd295a;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;




  --ion-font-family: Ubuntu;
}


@font-face {
  font-family: Ubuntu;
  src: url("../assets/fonts/Ubuntu-Regular.ttf"); //change url accordingly
  font-style: normal;
}