<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="light" class="ion-no-border"> 
   <ion-row class="">
     <ion-col size="12">

       <ion-title class="px-1 "  color="dark"><b>Selecciona tu avatar</b>
       </ion-title>
     </ion-col> 
     
     
   </ion-row>
 </ion-toolbar>
 </ion-header>

<ion-content>

<ion-grid fixed>
  <ion-row class="mt-5">
    <ion-col size="3" *ngFor="let item of avatars;" style="align-items: center; justify-content: center; display: flex;">
      <ion-avatar  (click)="onSelectAvatar(item)">
        <ion-img [id]="item" style="background-color: #8e63ba;" [src]="urlApiAvatar + item" ></ion-img>
      </ion-avatar>
    </ion-col>
      
  </ion-row>
</ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="float-end">
      <ion-button (click)="setUserUrlAvatar()" *ngIf="avatarSelected" color="secondary" mode="ios">
        Continuar <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon> 
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>