ion-content{
    --ion-background-color: linear-gradient(180deg, rgba(81,15,163,0.9990589985994398) 0%, rgba(131,15,163,1) 52%);
}

ion-toolbar {
    --background: rgba(131,15,163,1);
}


.title-font {
    font-size: 30px;
}