
<ion-content>

<ion-grid fixed>


  <ion-row>
    <ion-col class="animate__animated animate__fadeIn" size="12" style="align-items: center; justify-content: center; display: flex;" >
      <ion-img src="../../../../assets/img/incognito.png" class="w-50"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="mt-4 text-center animate__animated animate__backInDown">
      <ion-text color="light" >
        <h1 style="font-size: 50px;"> <b>ANONYMOUS APP</b> </h1>
        

      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="text-light animate__animated animate__fadeInLeft">
      <p> <ion-icon slot="start" name="shield-checkmark-outline" class="text-success"></ion-icon>  Con los mensjaes y chats 100% anonimos</p>
        <p> <ion-icon slot="start" name="shield-checkmark-outline" class="text-success"></ion-icon>  Chat en tiempo real</p>
        <p> <ion-icon slot="start" name="shield-checkmark-outline" class="text-success"></ion-icon>  Anonimos con imágenes</p>
        <p> <ion-icon slot="start" name="shield-checkmark-outline" class="text-success"></ion-icon>  Disfruta de tus anonimos con tus amigos</p>
        <p> <ion-icon slot="start" name="shield-checkmark-outline" class="text-success"></ion-icon>  Accede y conoce más...</p>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-button class="mb-5" (click)="loginWithGoogle()" mode="ios" color="light" expand="block" shape="round">
      <i class="fa fa-google text-danger" style="margin-right: 10px;" aria-hidden="true"></i> Iniciar con Google
    </ion-button>

    <!-- <ion-button (click)="redirectToRegister()" mode="ios" color="light" expand="block" shape="round">
      <i class="fa fa-user text-success" style="margin-right: 10px;" aria-hidden="true"></i> Registrate
    </ion-button> -->
  </ion-toolbar>
</ion-footer>
