.message-body {
    background-color: rgb(249, 243, 252);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 10px;
}

.message-body-mine {
    background-color: #830FA3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 10px;
    color: white;
}